[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/testUrlChallongeTs/finalize.json",
        "body": {
            "api_key": "test_api_key"
        },
        "status": 200,
        "response": {
            "tournament": {
                "id": 4731515,
                "name": "testNameChallongeTs",
                "url": "testUrlChallongeTs",
                "description": "",
                "tournament_type": "single elimination",
                "started_at": "2018-06-25T07:26:08.181-04:00",
                "completed_at": "2018-06-25T07:33:50.248-04:00",
                "require_score_agreement": false,
                "notify_users_when_matches_open": true,
                "created_at": "2018-06-24T18:30:46.667-04:00",
                "updated_at": "2018-06-25T07:33:50.351-04:00",
                "state": "complete",
                "open_signup": true,
                "notify_users_when_the_tournament_ends": true,
                "progress_meter": 100,
                "quick_advance": false,
                "hold_third_place_match": false,
                "pts_for_game_win": "0.0",
                "pts_for_game_tie": "0.0",
                "pts_for_match_win": "1.0",
                "pts_for_match_tie": "0.5",
                "pts_for_bye": "1.0",
                "swiss_rounds": 0,
                "private": false,
                "ranked_by": "match wins",
                "show_rounds": false,
                "hide_forum": false,
                "sequential_pairings": false,
                "accept_attachments": false,
                "rr_pts_for_game_win": "0.0",
                "rr_pts_for_game_tie": "0.0",
                "rr_pts_for_match_win": "1.0",
                "rr_pts_for_match_tie": "0.5",
                "created_by_api": true,
                "credit_capped": false,
                "category": null,
                "hide_seeds": false,
                "prediction_method": 0,
                "predictions_opened_at": null,
                "anonymous_voting": false,
                "max_predictions_per_user": 1,
                "signup_cap": null,
                "game_id": null,
                "participants_count": 3,
                "group_stages_enabled": false,
                "allow_participant_match_reporting": true,
                "teams": false,
                "check_in_duration": null,
                "start_at": "2018-06-25T17:00:00.000-04:00",
                "started_checking_in_at": null,
                "tie_breaks": [
                    "match wins vs tied",
                    "game wins",
                    "points scored"
                ],
                "locked_at": null,
                "event_id": null,
                "public_predictions_before_start_time": false,
                "ranked": false,
                "grand_finals_modifier": null,
                "predict_the_losers_bracket": false,
                "spam": null,
                "ham": null,
                "rr_iterations": 1,
                "tournament_registration_id": null,
                "donation_contest_enabled": null,
                "mandatory_donation": null,
                "description_source": "",
                "subdomain": null,
                "full_challonge_url": "https://challonge.com/testUrlChallongeTs",
                "live_image_url": "https://challonge.com/testUrlChallongeTs.svg",
                "sign_up_url": "https://challonge.com/tournaments/signup/LnEYY7FMAN",
                "review_before_finalizing": true,
                "accepting_predictions": false,
                "participants_locked": true,
                "game_name": null,
                "participants_swappable": false,
                "team_convertable": false,
                "group_stages_were_started": false
            }
        },
        "rawHeaders": [
            "Mon, 25 Jun 2018 11:33:50 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "2147",
            "close",
            "__cfduid=debbcb4ac986ade1a95489eb9e167ccd61529926430; expires=Tue, 25-Jun-19 11:33:50 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"f74fb0585f5d3e86c6fc881b5601ca72\"",
            "349d7429-b1fb-42fc-b6e0-7b3430929a79",
            "0.174514",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "43071f1bd8be0a66-LHR"
        ]
    }
]