[
    {
        "scope": "https://api.challonge.com:443",
        "method": "get",
        "path": "/v1/tournaments.json?api_key=H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg&state=all",
        "body": "",
        "status": 200,
        "response": [
            {
                "tournament": {
                    "id": 4305318,
                    "name": "faw",
                    "url": "aqnt9rtq",
                    "description": "",
                    "tournament_type": "double elimination",
                    "started_at": "2018-06-24T16:06:14.868+05:30",
                    "completed_at": "2018-06-24T16:07:36.564+05:30",
                    "require_score_agreement": false,
                    "notify_users_when_matches_open": true,
                    "created_at": "2018-02-25T08:51:47.164+05:30",
                    "updated_at": "2018-06-24T16:07:36.669+05:30",
                    "state": "complete",
                    "open_signup": false,
                    "notify_users_when_the_tournament_ends": true,
                    "progress_meter": 100,
                    "quick_advance": false,
                    "hold_third_place_match": false,
                    "pts_for_game_win": "0.0",
                    "pts_for_game_tie": "0.0",
                    "pts_for_match_win": "1.0",
                    "pts_for_match_tie": "0.5",
                    "pts_for_bye": "1.0",
                    "swiss_rounds": 0,
                    "private": false,
                    "ranked_by": "match wins",
                    "show_rounds": true,
                    "hide_forum": false,
                    "sequential_pairings": false,
                    "accept_attachments": false,
                    "rr_pts_for_game_win": "0.0",
                    "rr_pts_for_game_tie": "0.0",
                    "rr_pts_for_match_win": "1.0",
                    "rr_pts_for_match_tie": "0.5",
                    "created_by_api": false,
                    "credit_capped": false,
                    "category": null,
                    "hide_seeds": false,
                    "prediction_method": 0,
                    "predictions_opened_at": null,
                    "anonymous_voting": false,
                    "max_predictions_per_user": 1,
                    "signup_cap": null,
                    "game_id": null,
                    "participants_count": 8,
                    "group_stages_enabled": false,
                    "allow_participant_match_reporting": true,
                    "teams": false,
                    "check_in_duration": null,
                    "start_at": null,
                    "started_checking_in_at": null,
                    "tie_breaks": [
                        "match wins vs tied",
                        "game wins",
                        "points scored"
                    ],
                    "locked_at": null,
                    "event_id": null,
                    "public_predictions_before_start_time": false,
                    "ranked": false,
                    "grand_finals_modifier": null,
                    "predict_the_losers_bracket": false,
                    "spam": null,
                    "ham": null,
                    "rr_iterations": 1,
                    "tournament_registration_id": null,
                    "donation_contest_enabled": null,
                    "mandatory_donation": null,
                    "description_source": "",
                    "subdomain": null,
                    "full_challonge_url": "https://challonge.com/aqnt9rtq",
                    "live_image_url": "https://challonge.com/aqnt9rtq.svg",
                    "sign_up_url": null,
                    "review_before_finalizing": true,
                    "accepting_predictions": false,
                    "participants_locked": true,
                    "game_name": null,
                    "participants_swappable": false,
                    "team_convertable": false,
                    "group_stages_were_started": false
                }
            },
            {
                "tournament": {
                    "id": 4729038,
                    "name": "Test",
                    "url": "autototester",
                    "description": "",
                    "tournament_type": "double elimination",
                    "started_at": "2018-06-24T16:06:04.254+05:30",
                    "completed_at": null,
                    "require_score_agreement": false,
                    "notify_users_whe[...]
