[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/testUrlChallongeTs/process_check_ins.json",
        "body": {
            "api_key": "test_api_key"
        },
        "status": 200,
        "response": {
            "tournament": {
                "id": 4731515,
                "name": "testNameChallongeTs",
                "url": "testUrlChallongeTs",
                "description": "",
                "tournament_type": "single elimination",
                "started_at": null,
                "completed_at": null,
                "require_score_agreement": false,
                "notify_users_when_matches_open": true,
                "created_at": "2018-06-24T18:30:46.667-04:00",
                "updated_at": "2018-06-24T18:40:34.584-04:00",
                "state": "checked_in",
                "open_signup": true,
                "notify_users_when_the_tournament_ends": true,
                "progress_meter": 0,
                "quick_advance": false,
                "hold_third_place_match": false,
                "pts_for_game_win": "0.0",
                "pts_for_game_tie": "0.0",
                "pts_for_match_win": "1.0",
                "pts_for_match_tie": "0.5",
                "pts_for_bye": "1.0",
                "swiss_rounds": 0,
                "private": false,
                "ranked_by": "match wins",
                "show_rounds": false,
                "hide_forum": false,
                "sequential_pairings": false,
                "accept_attachments": false,
                "rr_pts_for_game_win": "0.0",
                "rr_pts_for_game_tie": "0.0",
                "rr_pts_for_match_win": "1.0",
                "rr_pts_for_match_tie": "0.5",
                "created_by_api": true,
                "credit_capped": false,
                "category": null,
                "hide_seeds": false,
                "prediction_method": 0,
                "predictions_opened_at": null,
                "anonymous_voting": false,
                "max_predictions_per_user": 1,
                "signup_cap": null,
                "game_id": null,
                "participants_count": 0,
                "group_stages_enabled": false,
                "allow_participant_match_reporting": true,
                "teams": false,
                "check_in_duration": 2880,
                "start_at": "2018-06-25T17:00:00.000-04:00",
                "started_checking_in_at": "2018-06-24T18:40:25.968-04:00",
                "tie_breaks": [
                    "match wins vs tied",
                    "game wins",
                    "points scored"
                ],
                "locked_at": null,
                "event_id": null,
                "public_predictions_before_start_time": false,
                "ranked": false,
                "grand_finals_modifier": null,
                "predict_the_losers_bracket": false,
                "spam": null,
                "ham": null,
                "rr_iterations": 1,
                "tournament_registration_id": null,
                "donation_contest_enabled": null,
                "mandatory_donation": null,
                "description_source": "",
                "subdomain": null,
                "full_challonge_url": "https://challonge.com/testUrlChallongeTs",
                "live_image_url": "https://challonge.com/testUrlChallongeTs.svg",
                "sign_up_url": "https://challonge.com/tournaments/signup/LnEYY7FMAN",
                "review_before_finalizing": true,
                "accepting_predictions": false,
                "participants_locked": false,
                "game_name": null,
                "participants_swappable": true,
                "team_convertable": false,
                "group_stages_were_started": false
            }
        },
        "rawHeaders": [
            "Sun, 24 Jun 2018 22:40:34 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "2120",
            "close",
            "__cfduid=d68862b5854510749d4ddc12b2621d1811529880034; expires=Mon, 24-Jun-19 22:40:34 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"99f972545cf3c17e200773106d8af8cd\"",
            "5c3c75f6-ccc4-4f4f-877d-f081f7885efc",
            "0.134004",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4302b267387a363b-MAN"
        ]
    }
]