[
    {
        "scope": "https://api.challonge.com:443",
        "method": "put",
        "path": "/v1/tournaments/testUrlChallongeTs.json",
        "body": {
            "api_key": "H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
            "name": "newTournamentName"
        },
        "status": 200,
        "response": {
            "tournament": {
                "id": 4731515,
                "name": "newTournamentName",
                "url": "testUrlChallongeTs",
                "description": "",
                "tournament_type": "single elimination",
                "started_at": null,
                "completed_at": null,
                "require_score_agreement": false,
                "notify_users_when_matches_open": true,
                "created_at": "2018-06-24T23:20:06.730+02:00",
                "updated_at": "2018-06-24T23:20:24.204+02:00",
                "state": "pending",
                "open_signup": false,
                "notify_users_when_the_tournament_ends": true,
                "progress_meter": 0,
                "quick_advance": false,
                "hold_third_place_match": false,
                "pts_for_game_win": "0.0",
                "pts_for_game_tie": "0.0",
                "pts_for_match_win": "1.0",
                "pts_for_match_tie": "0.5",
                "pts_for_bye": "1.0",
                "swiss_rounds": 0,
                "private": false,
                "ranked_by": null,
                "show_rounds": false,
                "hide_forum": false,
                "sequential_pairings": false,
                "accept_attachments": false,
                "rr_pts_for_game_win": "0.0",
                "rr_pts_for_game_tie": "0.0",
                "rr_pts_for_match_win": "1.0",
                "rr_pts_for_match_tie": "0.5",
                "created_by_api": true,
                "credit_capped": false,
                "category": null,
                "hide_seeds": false,
                "prediction_method": 0,
                "predictions_opened_at": null,
                "anonymous_voting": false,
                "max_predictions_per_user": 1,
                "signup_cap": null,
                "game_id": null,
                "participants_count": 0,
                "group_stages_enabled": false,
                "allow_participant_match_reporting": true,
                "teams": null,
                "check_in_duration": null,
                "start_at": null,
                "started_checking_in_at": null,
                "tie_breaks": null,
                "locked_at": null,
                "event_id": null,
                "public_predictions_before_start_time": null,
                "ranked": false,
                "grand_finals_modifier": null,
                "predict_the_losers_bracket": null,
                "spam": null,
                "ham": null,
                "rr_iterations": null,
                "tournament_registration_id": null,
                "donation_contest_enabled": null,
                "mandatory_donation": null,
                "description_source": "",
                "subdomain": null,
                "full_challonge_url": "https://challonge.com/testUrlChallongeTs",
                "live_image_url": "https://challonge.com/testUrlChallongeTs.svg",
                "sign_up_url": null,
                "review_before_finalizing": true,
                "accepting_predictions": false,
                "participants_locked": false,
                "game_name": null,
                "participants_swappable": true,
                "team_convertable": false,
                "group_stages_were_started": false
            }
        },
        "rawHeaders": [
            "Sun, 24 Jun 2018 21:20:24 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "1959",
            "close",
            "__cfduid=d7fad71b4c65e9c6df60189617b7eb7af1529875224; expires=Mon, 24-Jun-19 21:20:24 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"18d823678fcb9e10902293a2e62e81f1\"",
            "16d07c7f-c616-40f0-b90c-e044fb811b97",
            "0.043477",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "43023cf69880365f-MAN"
        ]
    }
]