[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/autototester/matches/125316886/attachments.json",
        "body": {
            "api_key": "test_api_key",
            "match_attachment": {
                "description": "A new file attachment"
            }
        },
        "status": 200,
        "response": {
            "match_attachment": {
                "id": 345327,
                "match_id": 125316886,
                "user_id": 2687534,
                "description": "A new file attachment",
                "url": null,
                "original_file_name": null,
                "created_at": "2018-06-26T17:40:04.974-04:00",
                "updated_at": "2018-06-26T17:40:04.974-04:00",
                "asset_file_name": null,
                "asset_content_type": null,
                "asset_file_size": null,
                "asset_url": null
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 21:40:05 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "327",
            "close",
            "__cfduid=d59bdcac4ec0ff20fc9857d9e411b145e1530049204; expires=Wed, 26-Jun-19 21:40:04 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"f7c9738444af3fdbb4d0007c1eea9a90\"",
            "22492f1f-926e-45bf-99b5-20ad8027099a",
            "0.106310",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4312d48a3e783629-MAN"
        ]
    }
]