[
    {
        "scope": "https://api.challonge.com:443",
        "method": "delete",
        "path": "/v1/tournaments/autototester/matches/125316886/attachments/345327.json?api_key=H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
        "body": "",
        "status": 200,
        "response": {
            "match_attachment": {
                "id": 345327,
                "match_id": 125316886,
                "user_id": 2687534,
                "description": "Updated file attachment",
                "url": null,
                "original_file_name": null,
                "created_at": "2018-06-27T04:40:04.974+07:00",
                "updated_at": "2018-06-27T04:54:46.017+07:00",
                "asset_file_name": null,
                "asset_content_type": null,
                "asset_file_size": null,
                "asset_url": null
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 21:54:46 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "329",
            "close",
            "__cfduid=dd8f5856bae04ab5ceea6ee1e7cbff8b81530050086; expires=Wed, 26-Jun-19 21:54:46 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"c9c148b47000166ec228ac3e99b7d4bb\"",
            "f504272f-736e-4dc1-a67f-3e6769ae4494",
            "0.065584",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4312ea0fcb46367d-MAN"
        ]
    }
]