[
    {
        "scope": "https://api.challonge.com:443",
        "method": "get",
        "path": "/v1/tournaments/autototester/matches/125316886/attachments.json?api_key=test_api_key",
        "body": "",
        "status": 200,
        "response": [
            {
                "match_attachment": {
                    "id": 345326,
                    "match_id": 125316886,
                    "user_id": 2687534,
                    "description": "Lorem Ipsum",
                    "url": "",
                    "original_file_name": null,
                    "created_at": "2018-06-26T16:51:30.547-04:00",
                    "updated_at": "2018-06-26T16:51:30.547-04:00",
                    "asset_file_name": null,
                    "asset_content_type": null,
                    "asset_file_size": null,
                    "asset_url": null
                }
            },
            {
                "match_attachment": {
                    "id": 345324,
                    "match_id": 125316886,
                    "user_id": 2687534,
                    "description": "Google homepage",
                    "url": "http://google.com",
                    "original_file_name": null,
                    "created_at": "2018-06-26T16:51:18.407-04:00",
                    "updated_at": "2018-06-26T16:51:18.407-04:00",
                    "asset_file_name": null,
                    "asset_content_type": null,
                    "asset_file_size": null,
                    "asset_url": null
                }
            },
            {
                "match_attachment": {
                    "id": 345323,
                    "match_id": 125316886,
                    "user_id": 2687534,
                    "description": "Homer",
                    "url": "",
                    "original_file_name": null,
                    "created_at": "2018-06-26T16:50:56.881-04:00",
                    "updated_at": "2018-06-26T16:50:56.881-04:00",
                    "asset_file_name": "maxresdefault.jpg",
                    "asset_content_type": "image/jpeg",
                    "asset_file_size": 153299,
                    "asset_url": "//s3.amazonaws.com/challonge_app/match_attachments/assets/000/345/323/"
                }
            }
        ],
        "rawHeaders": [
            "Tue, 26 Jun 2018 20:52:41 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "1057",
            "close",
            "__cfduid=d024807f6a6e206515659fe5339e6f7e81530046361; expires=Wed, 26-Jun-19 20:52:41 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "X-Challonge-Cache-ID",
            "tournament-4729038",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"ffac6f5a34ee7bddf7198a6d2db0dbae\"",
            "ea810132-728f-494d-a12a-99b3c1784f34",
            "0.064834",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "43128f1ce9ed361d-MAN"
        ]
    }
]