[
    {
        "scope": "https://api.challonge.com:443",
        "method": "get",
        "path": "/v1/tournaments/autototester/matches/125316886/attachments/345327.json?api_key=H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
        "body": "",
        "status": 200,
        "response": {
            "match_attachment": {
                "id": 345327,
                "match_id": 125316886,
                "user_id": 2687534,
                "description": "A new file attachment",
                "url": null,
                "original_file_name": null,
                "created_at": "2018-06-26T17:40:04.974-04:00",
                "updated_at": "2018-06-26T17:40:04.974-04:00",
                "asset_file_name": null,
                "asset_content_type": null,
                "asset_file_size": null,
                "asset_url": null
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 21:54:45 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "327",
            "close",
            "__cfduid=df600415dec52ea6865369cdd0323ba271530050085; expires=Wed, 26-Jun-19 21:54:45 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "X-Challonge-Cache-ID",
            "tournament-4729038",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"f7c9738444af3fdbb4d0007c1eea9a90\"",
            "1117a143-425f-40a1-8a6f-2090b56f708f",
            "0.060714",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4312ea0a3c983665-MAN"
        ]
    }
]