[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/autototester/participants/bulk_add.json",
        "body": {
            "api_key": "H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
            "participants": [
                {
                    "name": "newParticipant1"
                },
                {
                    "name": "newParticipant2"
                },
                {
                    "name": "newParticipant3"
                }
            ]
        },
        "status": 200,
        "response": [
            {
                "participant": {
                    "id": 77001051,
                    "tournament_id": 4731515,
                    "name": "newParticipant1",
                    "seed": 22,
                    "active": true,
                    "created_at": "2018-06-25T21:24:12.771-03:00",
                    "updated_at": "2018-06-25T21:24:12.771-03:00",
                    "invite_email": null,
                    "final_rank": null,
                    "misc": null,
                    "icon": null,
                    "on_waiting_list": false,
                    "invitation_id": null,
                    "group_id": null,
                    "checked_in_at": null,
                    "ranked_member_id": null,
                    "challonge_username": null,
                    "challonge_email_address_verified": null,
                    "removable": true,
                    "participatable_or_invitation_attached": false,
                    "confirm_remove": false,
                    "invitation_pending": false,
                    "display_name_with_invitation_email_address": "newParticipant1",
                    "email_hash": null,
                    "username": null,
                    "display_name": "newParticipant1",
                    "attached_participatable_portrait_url": null,
                    "can_check_in": false,
                    "checked_in": false,
                    "reactivatable": false,
                    "check_in_open": false,
                    "group_player_ids": [],
                    "has_irrelevant_seed": false
                }
            },
            {
                "participant": {
                    "id": 77001052,
                    "tournament_id": 4729038,
                    "name": "newParticipant2",
                    "seed": 23,
                    "active": true,
                    "created_at": "2018-06-25T21:24:12.790-03:00",
                    "updated_at": "2018-06-25T21:24:12.790-03:00",
                    "invite_email": null,
                    "final_rank": null,
[...]
