[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/autototester/participants/76885646/check_in.json",
        "body": {
            "api_key": "H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg"
        },
        "status": 200,
        "response": {
            "participant": {
                "id": 76885646,
                "tournament_id": 4731515,
                "name": "NewName",
                "seed": 20,
                "active": true,
                "created_at": "2018-06-24T20:35:55.966+10:00",
                "updated_at": "2018-06-26T11:14:33.812+10:00",
                "invite_email": null,
                "final_rank": null,
                "misc": null,
                "icon": null,
                "on_waiting_list": false,
                "invitation_id": null,
                "group_id": null,
                "checked_in_at": "2018-06-26T01:21:30.322+00:00",
                "ranked_member_id": null,
                "challonge_username": null,
                "challonge_email_address_verified": null,
                "removable": true,
                "participatable_or_invitation_attached": false,
                "confirm_remove": false,
                "invitation_pending": false,
                "display_name_with_invitation_email_address": "NewName",
                "email_hash": null,
                "username": null,
                "display_name": "NewName",
                "attached_participatable_portrait_url": null,
                "can_check_in": false,
                "checked_in": true,
                "reactivatable": false,
                "check_in_open": true,
                "group_player_ids": [],
                "has_irrelevant_seed": false
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 01:21:30 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "850",
            "close",
            "__cfduid=d2b7bff630555583761ac5a5145c3ce0d1529976090; expires=Wed, 26-Jun-19 01:21:30 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"0f1c058ad32979d751e880b2671555dc\"",
            "47d5f4ac-6106-442d-a543-d0d683f89aa3",
            "0.030259",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "430bdb8419733647-MAN"
        ]
    }
]