[
    {
        "scope": "https://api.challonge.com:443",
        "method": "delete",
        "path": "/v1/tournaments/autototester/participants/clear.json?api_key=H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
        "body": "",
        "status": 200,
        "response": {
            "message": "Cleared all participants"
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 01:48:48 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "38",
            "close",
            "__cfduid=d083ebf8d7779e80a44f277ecf12b0b661529977727; expires=Wed, 26-Jun-19 01:48:47 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"33de31067b106ef3166c41c2654119d9\"",
            "617b9c6a-3607-442a-812f-ea110bf9904d",
            "0.665416",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "430c037f9a99362f-MAN"
        ]
    }
]