[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/autototester/participants.json",
        "body": {
            "api_key": "H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
            "participant": {
                "name": "newParticipant"
            }
        },
        "status": 200,
        "response": {
            "participant": {
                "id": 77000468,
                "tournament_id": 4731515,
                "name": "newParticipant",
                "seed": 21,
                "active": true,
                "created_at": "2018-06-25T20:14:47.073-04:00",
                "updated_at": "2018-06-25T20:14:47.073-04:00",
                "invite_email": null,
                "final_rank": null,
                "misc": null,
                "icon": null,
                "on_waiting_list": false,
                "invitation_id": null,
                "group_id": null,
                "checked_in_at": null,
                "ranked_member_id": null,
                "challonge_username": null,
                "challonge_email_address_verified": null,
                "removable": true,
                "participatable_or_invitation_attached": false,
                "confirm_remove": false,
                "invitation_pending": false,
                "display_name_with_invitation_email_address": "newParticipant",
                "email_hash": null,
                "username": null,
                "display_name": "newParticipant",
                "attached_participatable_portrait_url": null,
                "can_check_in": false,
                "checked_in": false,
                "reactivatable": false,
                "check_in_open": false,
                "group_player_ids": [],
                "has_irrelevant_seed": false
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 00:14:47 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "846",
            "close",
            "__cfduid=d8b191b076cf4c6ff2927c2ab2037314e1529972086; expires=Wed, 26-Jun-19 00:14:46 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"98cdd9ce7d48e7e3ff83c942a1638e50\"",
            "025f9178-1d0e-4201-8a18-24630eabc70b",
            "0.075444",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "430b79c68d9a366b-MAN"
        ]
    }
]