[
    {
        "scope": "https://api.challonge.com:443",
        "method": "delete",
        "path": "/v1/tournaments/autototester/participants/76885646.json?api_key=test_api_key",
        "body": "",
        "status": 200,
        "response": {
            "participant": {
                "id": 76885646,
                "tournament_id": 4731515,
                "name": "NewName",
                "seed": 14,
                "active": true,
                "created_at": "2018-06-24T03:35:55.966-07:00",
                "updated_at": "2018-06-25T18:14:33.812-07:00",
                "invite_email": null,
                "final_rank": null,
                "misc": null,
                "icon": null,
                "on_waiting_list": false,
                "invitation_id": null,
                "group_id": null,
                "checked_in_at": null,
                "ranked_member_id": null,
                "challonge_username": null,
                "challonge_email_address_verified": null,
                "removable": true,
                "participatable_or_invitation_attached": false,
                "confirm_remove": false,
                "invitation_pending": false,
                "display_name_with_invitation_email_address": "NewName",
                "email_hash": null,
                "username": null,
                "display_name": "NewName",
                "attached_participatable_portrait_url": null,
                "can_check_in": true,
                "checked_in": false,
                "reactivatable": false,
                "check_in_open": true,
                "group_player_ids": [],
                "has_irrelevant_seed": false
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 01:48:21 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "823",
            "close",
            "__cfduid=d50c7f894e02c06a609a2f07f0828eda51529977701; expires=Wed, 26-Jun-19 01:48:21 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"afbe6c1a75636752329e50ab518fb44b\"",
            "b3ba1f24-2d53-4da0-a78b-83b205c56284",
            "0.038918",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "430c02d92d7f362f-MAN"
        ]
    }
]