[
    {
        "scope": "https://api.challonge.com:443",
        "method": "get",
        "path": "/v1/tournaments/autototester/participants/76885627.json?api_key=H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
        "body": "",
        "status": 200,
        "response": {
            "participant": {
                "id": 76885627,
                "tournament_id": 4729038,
                "name": "Delfina",
                "seed": 1,
                "active": true,
                "created_at": "2018-06-24T06:35:55.486-04:00",
                "updated_at": "2018-06-24T06:35:55.486-04:00",
                "invite_email": null,
                "final_rank": null,
                "misc": null,
                "icon": null,
                "on_waiting_list": false,
                "invitation_id": null,
                "group_id": null,
                "checked_in_at": null,
                "ranked_member_id": null,
                "challonge_username": null,
                "challonge_email_address_verified": null,
                "removable": true,
                "participatable_or_invitation_attached": false,
                "confirm_remove": false,
                "invitation_pending": false,
                "display_name_with_invitation_email_address": "Delfina",
                "email_hash": null,
                "username": null,
                "display_name": "Delfina",
                "attached_participatable_portrait_url": null,
                "can_check_in": false,
                "checked_in": false,
                "reactivatable": false,
                "check_in_open": false,
                "group_player_ids": [],
                "has_irrelevant_seed": false
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 01:11:09 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "824",
            "close",
            "__cfduid=daf679406cc2ff4be08ddebb50c596a0b1529975469; expires=Wed, 26-Jun-19 01:11:09 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "X-Challonge-Cache-ID",
            "tournament-4729038",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"f0d6f1751f7c057778c9dda4e864de98\"",
            "526f34e7-7e19-43ae-9224-348f404a8acb",
            "0.019690",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "430bcc5cba523641-MAN"
        ]
    }
]