[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/autototester/participants/76885646/undo_check_in.json",
        "body": {
            "api_key": "H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg"
        },
        "status": 200,
        "response": {
            "participant": {
                "id": 76885646,
                "tournament_id": 4729038,
                "name": "NewName",
                "seed": 20,
                "active": true,
                "created_at": "2018-06-24T06:35:55.966-04:00",
                "updated_at": "2018-06-25T21:14:33.812-04:00",
                "invite_email": null,
                "final_rank": null,
                "misc": null,
                "icon": null,
                "on_waiting_list": false,
                "invitation_id": null,
                "group_id": null,
                "checked_in_at": null,
                "ranked_member_id": null,
                "challonge_username": null,
                "challonge_email_address_verified": null,
                "removable": true,
                "participatable_or_invitation_attached": false,
                "confirm_remove": false,
                "invitation_pending": false,
                "display_name_with_invitation_email_address": "NewName",
                "email_hash": null,
                "username": null,
                "display_name": "NewName",
                "attached_participatable_portrait_url": null,
                "can_check_in": true,
                "checked_in": false,
                "reactivatable": false,
                "check_in_open": true,
                "group_player_ids": [],
                "has_irrelevant_seed": false
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 01:27:15 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "823",
            "close",
            "__cfduid=d2f7817c03a4f1329bfc3a3ee13416d451529976434; expires=Wed, 26-Jun-19 01:27:14 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"9d232547b515b9a22a5a85c871f231ce\"",
            "4fd0c59d-b9cf-4730-ba1d-3ba7c9e575f7",
            "0.035171",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "430be3edfb98361d-MAN"
        ]
    }
]