[
    {
        "scope": "https://api.challonge.com:443",
        "method": "put",
        "path": "/v1/tournaments/autototester/participants/76885646.json",
        "body": {
            "api_key": "H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg",
            "participant": {
                "name": "NewName"
            }
        },
        "status": 200,
        "response": {
            "participant": {
                "id": 76885646,
                "tournament_id": 4731515,
                "name": "NewName",
                "seed": 20,
                "active": true,
                "created_at": "2018-06-24T05:35:55.966-05:00",
                "updated_at": "2018-06-25T20:14:33.812-05:00",
                "invite_email": null,
                "final_rank": null,
                "misc": null,
                "icon": null,
                "on_waiting_list": false,
                "invitation_id": null,
                "group_id": null,
                "checked_in_at": null,
                "ranked_member_id": null,
                "challonge_username": null,
                "challonge_email_address_verified": null,
                "removable": true,
                "participatable_or_invitation_attached": false,
                "confirm_remove": false,
                "invitation_pending": false,
                "display_name_with_invitation_email_address": "NewName",
                "email_hash": null,
                "username": null,
                "display_name": "NewName",
                "attached_participatable_portrait_url": null,
                "can_check_in": false,
                "checked_in": false,
                "reactivatable": false,
                "check_in_open": false,
                "group_player_ids": [],
                "has_irrelevant_seed": false
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 01:14:33 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "825",
            "close",
            "__cfduid=d4be30bcba0e35a0f20af1ed0ccbd46811529975673; expires=Wed, 26-Jun-19 01:14:33 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "ALLOWALL",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"16590218a2adba4918775e2bde7657b3\"",
            "0c7767fd-96b3-442e-ac89-309cafa1c73b",
            "0.045077",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "430bd158ac92365f-MAN"
        ]
    }
]