[
    {
        "scope": "https://api.challonge.com:443",
        "method": "post",
        "path": "/v1/tournaments/autototester/matches/125316886/reopen.json",
        "body": {
            "api_key": "H5ReYtTNa4pxL4CP2Q6EdkGK0Ndj8y6GMkqQL4lg"
        },
        "status": 200,
        "response": {
            "match": {
                "id": 125316886,
                "tournament_id": 4731515,
                "state": "open",
                "player1_id": 77048083,
                "player2_id": 77048084,
                "player1_prereq_match_id": null,
                "player2_prereq_match_id": null,
                "player1_is_prereq_match_loser": false,
                "player2_is_prereq_match_loser": false,
                "winner_id": null,
                "loser_id": null,
                "started_at": "2018-06-26T15:57:27.048-04:00",
                "created_at": "2018-06-26T15:57:26.878-04:00",
                "updated_at": "2018-06-26T16:25:50.369-04:00",
                "identifier": "A",
                "has_attachment": false,
                "round": 1,
                "player1_votes": null,
                "player2_votes": null,
                "group_id": null,
                "attachment_count": null,
                "scheduled_time": null,
                "location": null,
                "underway_at": null,
                "optional": false,
                "rushb_id": null,
                "completed_at": null,
                "suggested_play_order": 1,
                "forfeited": false,
                "prerequisite_match_ids_csv": "",
                "scores_csv": ""
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 20:25:50 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "748",
            "close",
            "__cfduid=de18070e8001dc5889fb6f9f553afe57d1530044750; expires=Wed, 26-Jun-19 20:25:50 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"3f643f768c0558c33ef7ad2f8fc98076\"",
            "e6f1d143-99e8-4ed1-af00-ab88a2a66ffe",
            "0.377906",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "431267c898b33647-MAN"
        ]
    }
]