[
    {
        "scope": "https://api.challonge.com:443",
        "method": "put",
        "path": "/v1/tournaments/autototester/matches/125316886.json",
        "body": {
            "api_key": "test_api_key",
            "match": {
                "scores_csv": "3-1,3-1,2-3,3-0",
                "winner_id": 77048083
            }
        },
        "status": 200,
        "response": {
            "match": {
                "id": 125316886,
                "tournament_id": 4731515,
                "state": "complete",
                "player1_id": 77048083,
                "player2_id": 77048084,
                "player1_prereq_match_id": null,
                "player2_prereq_match_id": null,
                "player1_is_prereq_match_loser": false,
                "player2_is_prereq_match_loser": false,
                "winner_id": 77048083,
                "loser_id": 77048084,
                "started_at": "2018-06-26T15:57:27.048-04:00",
                "created_at": "2018-06-26T15:57:26.878-04:00",
                "updated_at": "2018-06-26T16:23:58.913-04:00",
                "identifier": "A",
                "has_attachment": false,
                "round": 1,
                "player1_votes": null,
                "player2_votes": null,
                "group_id": null,
                "attachment_count": null,
                "scheduled_time": null,
                "location": null,
                "underway_at": null,
                "optional": false,
                "rushb_id": null,
                "completed_at": "2018-06-26T20:23:58.939+00:00",
                "suggested_play_order": 1,
                "forfeited": null,
                "prerequisite_match_ids_csv": "",
                "scores_csv": "3-1,3-1,2-3,3-0"
            }
        },
        "rawHeaders": [
            "Tue, 26 Jun 2018 20:23:59 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "801",
            "close",
            "__cfduid=d29ef631b9c1d173361dd3b21149ce7bc1530044638; expires=Wed, 26-Jun-19 20:23:58 GMT; path=/; domain=.challonge.com; HttpOnly; Secure",
            "Status",
            "200 OK",
            "SAMEORIGIN",
            "1; mode=block",
            "nosniff",
            "CP=\"NOI ADM DEV PSAi COM NAV OUR OTRo STP IND DEM\"",
            "ETag",
            "W/\"684e7dbdfbb493569d13ad25d3db8ef2\"",
            "05a9b705-e980-454f-bd0a-5c0268b34783",
            "0.336710",
            "private, max-age=0, no-store, must-revalidate",
            "no-cache",
            "MISS",
            "bytes",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "431265101caa3671-MAN"
        ]
    }
]